<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zte.sms.dao.GradeDAO">

	<!-- 
	public List<Grade> selectAll();
	 -->
	<select id="selectAll" resultType="grade">
		SELECT
			gid,gname,gdesc,state
		FROM
			grade
	</select>
	
	<!-- insert新的Grade -->
	<insert id="insertGrade" parameterType="grade">
		insert into grade
			(gname,gdesc,state)
		values
			(#{gname},#{gdesc},#{state})
	</insert>
	
	
	<!-- 改变状态state -->
	<update id="updateState" parameterType="grade">
		update grade
		set state=#{state}
		where gid=#{gid}
	</update>
	
	
	<!-- 改变grade详细信息 -->
	<update id="updateGradeById" parameterType="grade">
		update grade 
		set gname=#{gname},gdesc=#{gdesc}
		where gid=#{gid}
	</update>
	
	<!-- 删除对应grade -->
	<delete id="deleteGrade" parameterType="Integer">
		delete from grade
		where gid=#{gid}
		
	</delete>
	
	
	<!-- 
	public Integer selectIdByName(String stringCellValue);
	 -->
	<select id="selectIdByName" resultType="int">
		select
			gid
		from 
			grade
		where gname=#{gname}
	</select>
	
	<!-- 根据ID查找对应的数据 -->
	<select id="selectById" resultType="grade" parameterType="Integer">
		select gid, gname,gdesc
		from grade
		where gid=#{gid}
	</select>
	
	<select id="selectGradesByName" resultType="grade" parameterType="GradeVO">
		select gid,gname,gdesc,state
		from grade
		<where>
			<if test="gname!=null and gname!=''">
				and gname like #{gname}
			</if>
		</where>
	</select>
</mapper>