<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zte.sms.dao.SysuserDAO">

	<!-- Sysuser selectUserByUsernamePass(SysuserVO sysuserVO); -->
	<select id="selectUserByUsernamePass" parameterType="sysuserVO" resultType="sysuser">
		SELECT
			id,
			username,
			password,
			state
		FROM
			sysuser
		where 
			username=#{username} and password=#{password}
	</select>
	
	<!-- 
		public Sysuser selectUserByIdAndPass(SysuserVO sysuserVO);

	
	
	 -->
	 <select id="selectUserByIdAndPass" parameterType="sysuserVO" resultType="Sysuser">
	 SELECT
	 	id,username,password,state
	 FROM
	    sysuser
	 where 
	    id=#{id} and password=#{password}
	 </select>
	 
	 <!-- 
	 	public void updatePassById(SysuserVO sysuserVO);
	  -->
	  <update id="updatePassById" parameterType="sysuserVO">
	  UPDATE
		sysuser
	  SET
		password=#{newPass}
	  where 
		id=#{id}
	  </update>
	

	<update id="updateNameById" parameterType="sysuserVO">
	  UPDATE
		sysuser
	  SET
		username=#{username}
	  where 
		id=#{id}
	  </update>
</mapper>